* {
    -fx-var-background: #ececec;
    -fx-var-borders: silver;
    -fx-var-text: #333333;
    -fx-var-cell-even: #D3D3D3;
    -fx-selected-cell: blue;
    -fx-selected-cell-text: white;

}

.root {
    -fx-base: -fx-var-background;
    -fx-background: -fx-var-background;
    -fx-control-inner-background: -fx-var-background;
}


#mainPane,
#textSearchPane,
.contentPane,
#splitPane,
#listViewResultsParentPane,
#listViewResults,
#resultDetailsScrollPane,
#resultDetailsPane,
#textTitle,
#textTags{
    -fx-border-width: 0;
    -fx-background-color: -fx-var-background;
    -fx-padding: 0;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: -fx-selected-cell;
    -fx-text-fill: -fx-selected-cell-text;
}

.list-cell:even {
    -fx-background-color: -fx-var-cell-even;
}

.text-field#commandSearchBox {
    -fx-text-fill: -fx-var-text;
}

.searchTextBox {
    -fx-font: 24px Tahoma;
    -fx-padding: 7 2 10 2;
}

.largeTextPrompt {
    -fx-text-fill: -fx-var-text;
    -fx-font-size: 24px;
    -fx-padding: 7 2 10 10;
}

#outerTablePane {
    -fx-padding: 0 0 5 0;
}

Label#textTitle {
    -fx-font: 20pt Tahoma;
    -fx-padding: 5 5 5 5;
    -fx-text-overrun: ellipsis;
}

#textTitle{
    fx-font: 20pt Tahoma;
}

#listViewResults{
    /* These three elements profide a 'bottom margin' so as to not overlay the curved bottom left corner */
    -fx-padding: 0 0 10 0;
    -fx-border-insets: 0 0 10 0;
    -fx-background-insets: 0 0 10 0;
    -fx-background-color: -fx-var-background;
}

#mainPane {
    /* This makes the main stage transparent, so that the window can have rounded corners */
    /*-fx-background-color: rgba(0, 0, 0, 0.0);*/
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.02, 0, 5);
    -fx-background-radius: 5;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-pref-width: 600px;
}

.searchTextBox {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-background-color: none;
}

#textSearchPane{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 5 0 5 0;
    -fx-border-width: 1 1 1 1;
    -fx-background-color: -fx-var-background;
    -fx-border-color: -fx-var-borders;
}

#separatorLabel{
    -fx-padding: 5 5 10 5;
}

.expandedMode#textSearchPane{
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}


.contentPane {
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
    -fx-border-color: transparent -fx-var-borders -fx-var-borders -fx-var-borders;
    -fx-border-width: 0 1 1 1;
    -fx-padding: 0 0 0 0;
}

#listViewResultsParentPane,
#splitPane {
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
}

#resultDetailsPane{
    -fx-border-radius: 0 0 10 0;
    -fx-background-radius: 0 0 10 0;
}

#textTags{
    -fx-padding: 2;
    -fx-font-weight: bold;
}

#whiteSpaceCover{
    -fx-background-color: -fx-var-background;
    -fx-pref-height: 12;
    -fx-pref-width: 12;
}

.list-cell{
    -fx-padding: 4;
    -fx-border-width: 0;
}

#dataTableView, #commandsTableView {
    /* These three elements profide a 'bottom margin' so as to not overlay the curved bottom left corner */
    -fx-padding: 0 0 10 0;
    -fx-border-insets: 0 0 10 0;
    -fx-background-insets: 0 0 10 0;
    -fx-background-color: -fx-var-background;
}

#consoleOutput {
    -fx-font: 10px Courier;
}

#consoleOutput.running {
    -fx-border-color: #0000FF;
}


#consoleOutput.error {
    -fx-border-color: #FF0000;
}


#consoleOutput.finished {
    -fx-border-color: #00AA00;
}

#consoleLabel {
    -fx-padding: 0 0 0 7;
}


#consoleLabel.running {
    -fx-text-fill: #0000FF;
}


#consoleLabel.error {
    -fx-text-fill: #FF0000;
}


#consoleLabel.finished {
    -fx-text-fill: #00AA00;
}



/* DEBUGGING */



/*#mainPane {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: purple;*/
    /*-fx-background-color: purple;*/
/*}*/

/*#textSearchPane {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: red;*/
    /*-fx-background-color: red;*/
/*}*/

/*#labelLogo {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: blue;*/
    /*-fx-background-color: blue;*/
/*}*/

/*#textSearchBox {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: yellow;*/
    /*-fx-background-color: yellow;*/
/*}*/

/*#contentPane {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: orange;*/
    /*-fx-background-color: orange;*/
/*}*/

/*#splitPane {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: black;*/
    /*-fx-background-color: black;*/
/*}*/

/*#listViewResultsParentPane {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: aqua;*/
    /*-fx-background-color: aqua;*/
/*}*/

/*#listViewResults {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: maroon;*/
    /*-fx-background-color: maroon;*/
/*}*/

/*#resultDetailsScrollPane {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: magenta;*/
    /*-fx-background-color: magenta;*/
/*}*/

/*#resultDetailsPane {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: brown;*/
    /*-fx-background-color: brown;*/
/*}*/

/*#textTitle {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: sandybrown;*/
    /*-fx-background-color: sandybrown;*/
/*}*/

/*#htmlResultDetails {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: violet;*/
    /*-fx-background-color: violet;*/
/*}*/

/*#textTags {*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: deepskyblue;*/
    /*-fx-background-color: deepskyblue;*/
/*}*/

/*.list-cell{*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: yellow;*/
    /*-fx-background-color: yellow;*/
/*}*/

/*.web-view{*/
    /*-fx-border-style: dashed;*/
    /*-fx-border-width: 4;*/
    /*-fx-border-color: red;*/
    /*-fx-background-color: red;*/
/*}*/